name: Test
on:
  push:
  pull_request:
  merge_group:

permissions:
  contents: write
  deployments: write
jobs:
  test_go:
    name: Run and Test GO
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./go

    steps:
      - uses: actions/checkout@v4
      - name: Unpack test data
        run: bash ./decrypt_data.sh
        working-directory: .
        env:
          DATA_PW: ${{ secrets.DATA_PW }}
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"
      - name: Install dependencies
        run: go get .
      - name: Build
        run: go build -o main -v main.go solver.go
      - name: Test with the Go CLI
        run: go test -race -coverprofile=coverage.txt -covermode=atomic ./...
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: Benchmark Go
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        run: |
          go test ./... --json -bench . | python convert_benchmark.py | tee benchmark.json
      - name: Store benchmark result
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: benchmark-action/github-action-benchmark@v1
        with:
          name: Go Benchmark
          tool: "customSmallerIsBetter"
          output-file-path: ./go/benchmark.json
          github-token: ${{ secrets.GITHUB_TOKEN }}
          auto-push: true
  test_python:
    name: Run and Test Python
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./python
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - name: Unpack test data
        run: bash ./decrypt_data.sh
        working-directory: .
        env:
          DATA_PW: ${{ secrets.DATA_PW }}

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install -r requirements_test.txt
      - name: Run tests and create report
        run: |
          coverage run --source=. -m unittest discover
      - name: Run Lint
        run: yapf -r -q -p .
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
  test_cpp:
    name: Run and Test CPP
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./cpp
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - name: Unpack test data
        run: bash ./decrypt_data.sh
        working-directory: .
        env:
          DATA_PW: ${{ secrets.DATA_PW }}
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake
